<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a EventMaker.com, <%= @user.name %></h1>
    <p>
      te has registrado correctamente a EventMaker.com,
      Tu nobre de usuario es: <%= @user.email %>.<br/>
    </p>
    <p>
      Para confirmar tu registro, por favor ingresa al siguiente mail: <%= @url %>.
    </p>
    <p>Gracias por unirnos y que disfrutes de nuestra pagina web</p>
  </body>
</html>