<h1>EventMaker</h1>
<p>Aquí puedes hacer los eventos más shoros de la red!</p>
<p> Aqui puedes ver los eventos que tu haz creado</p>
<p><%= link_to 'Mis Eventos', events_path %></p>
<p> Aqui aparecen todos los usuarios que se han registrado en nuestro portal </p>
<p><%= link_to 'Usuarios Registrados', users_path %></p>