<p>
    <b>Group name:<%= @group.group_name %></b>
  	<% @members.each do |member| %>
  		<p><%= member.user.name %></p>
  	<% end %>
  	
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
