<h1>EventMaker</h1>
<div class="login">
	<p>*Formulario de login*</p>
</div>
<div class="register">
	<%= link_to 'Registrarse', :controller => 'users', :action => 'new' %>
</div>
<div class="main">
<p>Próximos eventos</p>
<p>EventMaker es una un lugar donde puedes organizar todos tus eventos</p>
<p><ol>
	<li>Publica tu evento</li>
	<li>Invita a tus amigos</li>
	<li>Asiste y ¡disfruta!</li></ol>
</div>
<p>* Aquí puedes ver los eventos que tu haz creado</p>
<p><%= link_to 'Mis Eventos', events_path %></p>
<p>* Aquí aparecen todos los usuarios que se han registrado en nuestro portal</p>
<p><%= link_to 'Usuarios Registrados', users_path %></p>