<div class="main">
	<p>Próximos eventos</p>
	<p>EventMaker es una un lugar donde puedes organizar todos tus eventos</p>
	<p><ol>
		<li>Publica tu evento</li>
		<li>Invita a tus amigos</li>
		<li>Asiste y ¡disfruta!</li></ol>

	<p>Aquí puedes ver los eventos que son publicos y cualquiera puede acceder</p>
	<p><%= link_to 'Eventos Públicos', public_events_path %></p>
</div>
