<div class="content">
	<p>Próximos eventos</p>
	<p>EventMaker es una un lugar donde puedes organizar todos tus eventos</p>
	<p><ol>
		<li>Publica tu evento</li>
		<li>Invita a tus amigos</li>
		<li>Asiste y ¡disfruta!</li></ol>

	<p>Aquí puedes ver los eventos que son públicos y cualquiera puede acceder</p>
	<p><%= link_to I18n.t(:public_events), public_events_path %></p>
</div>
