<div class="main">
	<p>Próximos eventos</p>
	<p>EventMaker es una un lugar donde puedes organizar todos tus eventos</p>
	<p><ol>
		<li>Publica tu evento</li>
		<li>Invita a tus amigos</li>
		<li>Asiste y ¡disfruta!</li></ol>

	<p>* Aquí puedes ver los eventos que tu haz creado</p>
	<p><%= link_to 'Mis Eventos', events_path %></p>
	<p>* Aquí aparecen todos los usuarios que se han registrado en nuestro portal</p>
	<p><%= link_to 'Usuarios Registrados', users_path %></p>
</div>
