<%= render "layouts/menu" %>
<div class="content">
    <h1>Eventos Públicos</h1>
    <div>
        <p>Aquí se muestran todos los eventos públicos de la página</p>
    </div>
    <div>
        <%= render "show_events" %>
    </div>
    <p></p>
<br />
</div>