<%= render "layouts/menu" %>
<div class="content">
    <h1><%=t :public_events %></h1>
    <div>
        <p><%=t :public_events_description %></p>
    </div>
    <div>
        <%= render "show_events" %>
    </div>
    <p></p>
<br />
</div>