
<div id="pictures">
<h1 id="as">Fotos de <%= "#{@event.name}" %></h1>

<br />
<%= link_to I18n.t(:new_picture), new_picture_path(:event_id => @event.id, :is_avatar => false) %>
<p></p>

<table>
  <% count = @event.pictures.length-1 %>
  <tr>
  <% for i in 0..count %>
  <% picture = @event.pictures[i] %>
      <td>
        <p style="text-align: center;">
      <%= picture.name %>
    </p>
      <p></p>
      <div class="picture" onclick="getSize()"><%= link_to image_tag(picture.picture_url, :class => "image"), picture , class: "mypicture", :name => picture.name ,:width  => 500, :height  => 500 %></div>
      <p></p>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <% if i!= 0 && i%3 == 0 %>
      </tr>
      <tr>
    <% end %>
  <% end %>
</tr>
</table>
</div>

