<div class="eventcomment">
	<p style="float:right; padding-right:20px">
	  	<%= link_to 'X', [event_comment.event, event_comment],
	               :confirm => '¿Deseas eliminar tu comentario?',
	               :method => :delete %>
	</p>
	<p><b><%= event_comment.user.email %></b> <%= event_comment.comment %></p>

</div>