<div class="eventcomment">
	<p id="right">
	  	<%= link_to 'X', [event_comment.event, event_comment],
	               :confirm => '¿Deseas eliminar tu comentario?',
	               :method => :delete %>
	</p>
	<p><b><%= link_to event_comment.user.name, event_comment.user %></b> <%= event_comment.comment %></p>

</div>