<div class="neweventcomment">
	<%= form_for([@event, @event.event_comments.build]) do |f| %>
	  <div class="field">
	    <%= f.text_area :comment %>
	  </div>
	  <div class="actions">
	    <%= f.submit I18n.t(:post) %>
	  </div>
	<% end %>
</div>