/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	width: auto; 
	padding: 0px 15px;
	margin: 0px;
}
.header { 
	background-color: #FF0000; 
	padding-right:100px; 
	height:120px;
}
.main{ 
	background-color: #CC0; 
	padding-top:20px;
	height:500px;
	padding-left:20px;
	padding-right:20px;
}
#logo {
	float:left; 
	padding-top:30px; 
	padding-left:30px;
}
.login{
	float:right;
	padding-top:5px;
}
.menu{
	float:left;
	width:200px;
	height:auto;
	position: relative;
	line-height:15px;
	background-color:#1DB746;
	margin-right:10px;
	padding: 20px 5px;
}
.content{
	background-color: #CC0; 
	padding-left:100px; 
	padding-top:20px;
	margin-left:210px;
}
ul{  
	list-style-type:none;
	padding-left: 15px;
} 
a:hover{text-decoration:none;}

a{text-decoration:none;}


.mainevent{
	background-color: #CC0; 
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
}
.leftevent {
	background-color: #A5B71D; 
	width:20%;
	height:100%;
	float:left;
	margin-right:20px;
}
.rightevent{
	background-color: #5CA6D7;
	width:20%;
	height:200px;
	float:right;
	margin-left:20px;
}
.centerevent{
	width:60%;
	margin-left: auto; 
	margin-right: auto;
}
.eventcomment{
	padding-top:2px;
	border-style:solid;
	border-width:5px;
	margin-left:20px;
	margin-right:20px;
	padding-left:10px;
}

.picture{
	background-color:#60CDDE;
	height:100px;
	padding-top:70px;
	text-align:center;
}
.guests{
	padding-left:15px;
	padding-right:15px;
}
.neweventcomment{
	margin-left:20px;
	margin-right:20px;
}
#notice{
	position: absolute;
	top: -5px; left: 35%;
	background-color: orange;
	width: 30%;	height: 10%;
	text-align: center;
}